            {# End of <div class="content"> defined in header.twig #}
            </div>

            <footer>
                <p>
                    Text is available under a <a href="http://creativecommons.org/licenses/by/4.0">Creative Commons Attribution 4.0 International License</a>.
                </p>

                <ul>
                    <li>
                        <img alt="Peers" title="" src="images/peers.png" />
                        <a href="http://peers.community">Peers</a>
                    </li>
                    <li>
                        <img alt="RSS" title="" src="images/rss.png" />
                        <a href="{{ 'rss/hot'|docroot }}">Hot</a> •
                        <a href="{{ 'rss/new'|docroot }}">New</a>
                    </li>
                    {#
                    <li>
                        <img alt="Libre Exchange" title="" src="images/libre.exchange.png" />
                        <a href="https://libre.exchange">Shop</a>
                    </li>
                    #}
                    <li>
                        <img alt="Source" title="" src="images/source.png" />
                        <a href="https://notabug.org/zPlus/freepost">Source code</a>
                    </li>
                    <li>
                        <img alt="TuxFamily" title="" src="images/tuxfamily.png" />
                        Hosted by <a href="https://tuxfamily.org">TuxFamily</a>
                    </li>
                </ul>
            </footer>
        </div>

        {# When users vote, this <iframe/> is used as target, such that
         # the page is not reloaded
         #}
        <iframe name="vote_sink" class="vote_sink"></iframe>

        <script src="javascript/freepost.js"></script>
    </body>
</html>